---
sidebar_position: 100
slug: /{{appname}}
tags:
  - Web 面板
  - 可视化
  - GUI
---

# 快速入门

## 准备{% raw %}{#preparation}{% endraw %}

## 账号密码{% raw %}{#credentials}{% endraw %}

## {{trademark}} 安装向导{% raw %}{#wizard}{% endraw %}

## {{trademark}} 入门向导{% raw %}{#quickstart}{% endraw %}

## 常用操作{% raw %}{#guide}{% endraw %}

本应用界面中最常见的操作指南

### SMTP 设置
### 插件

## 异常处理{% raw %}{#exception}{% endraw %}

#### 问题1
