[{{ trademark }}]({{ websiteurl }}) is **{{ summary }}**, used for {% for item in catalog %}{{ item.title }} {% endfor %}. {{ overview }}

{% if screenshots %}
![{{ screenshots[0].key }}]({{ screenshots[0].value }})
{% endif %}

## Prepare

When referring to this document to use {{ trademark }}, please read and ensure the following points:

- This application is installed by Websoft9.
{% if license %}
- The purpose of this application complies with the [{{ license.key }}]({{license.url}}) open source license agreement.
{% else %}
- Please check the application's usage license agreement to ensure compliance.
{% endif %}
- [Configure the domain name](./domain-set) or **server security group** opens external network ports for application access.
