---
title: {{trademark}}
slug: /{{appname}}
tags:
  - console
  - other
---

import Meta from './_include/{{appname}}.md';

<Meta name="meta" />

## Getting started{% raw %}{#guide}{% endraw %}

### Initial setup{% raw %}{#wizard}{% endraw %}

1. When completed installation of {{trademark}} at Websoft9 console, get the applicaiton's **Overview** and **Access** information from **My Apps**  

2. Complete the install wizard step by step

### Login verification{% raw %}{#verification}{% endraw %}

1. Completed installation {{trademark}} at Websoft9 console, get the applicaiton's overview and access credentials from **My Apps**  

2. Starting to verify it

## Configuration options{% raw %}{#configs}{% endraw %}

- CLI
- Multilingual (√)
- SMTP (√)

## Administer{% raw %}{#administrator}{% endraw %}

- **Password recover**
- **Change URL**
- **HTTPS**
- **Online backup**
- **Online upgrade**

## Troubleshooting{% raw %}{#troubleshooting}{% endraw %}

#### 502 failed code?
