---
title: {{trademark}}
slug: /{{appname}}
tags:
  - Web 面板
  - 可视化
  - GUI
---

import Meta from './_include/{{appname}}.md';

<Meta name="meta" />

## 入门指南{% raw %}{#guide}{% endraw %}

### 初始化{% raw %}{#wizard}{% endraw %}

Websoft9 控制台安装 {{trademark}} 后，通过【我的应用】进入它的编辑窗口，在**访问**标签页中获取登录地址和账号。  

### 快速了解

#### 官方链接
#### 截图

### 配置 SMTP{% raw %}{#smtp}{% endraw %}

1. 在邮箱管理控制台获取 [SMTP](./administrator/smtp) 相关参数

2. 填写 {{trademark}} 邮件相关配置

3. 测试邮件发送是否可用

### 安装插件{% raw %}{#plugin}{% endraw %}


## 管理维护{% raw %}{#administrator}{% endraw %}

### 重置管理员密码{% raw %}{#resetpw}{% endraw %}

### 域名额外配置（修改 URL）{% raw %}{#dns}{% endraw %}

### HTTPS 额外设置{% raw %}{#https}{% endraw %}

**[标准 HTTPS 配置](./guide/appsethttps)** 完成后，可能还需要如下步骤： 

1. 步骤1

2. 步骤2

### 备份与恢复

### 升级


## 故障

#### 更改域名导致无法访问 {{trademark}} ？

#### 访问 {{trademark}} 出现 502 错误？{% raw %}{#502}{% endraw %}